.input-group-append .btn i{
    margin-right: 5px;
}
.hideClass{
    display: none;
}
.dropdown-menu-list {
    transform: translate3d(-12px, 40px, 0px) !important;
}

td,
th {
    vertical-align: middle;
}

/* table {
    width: fit-content;
} */

.total {
    padding: 10px 25px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    border-radius: 10px;
    width: fit-content;
}

.total span {
    display: block;
}

.total-orders {
    background-color: rgba(41, 128, 185, 1.0);
}


.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}


.dropdown-item-list:hover {
    color: #30a4bc !important;
    cursor: pointer;
    font-weight: bold;
}


/* font for search & Sort */

.fontSortStyling {
    color: #30a4bc;
    font-weight: bold;
}







/* .toggle {
    cursor: pointer;
    display: inline-block;
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked+.toggle-switch {
    background: #56c080;
}

.toggle-checkbox:checked+.toggle-switch:before {
    left: 30px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
} */