@import url("./sideBar.css");
.stat-cursor{
    cursor: pointer;
}

.total{
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: larger;
    margin-top: 50px;
}
.total span{
    display: block;
}

.total-users{
background-color: rgba(26, 188, 156,1.0);
}

.total-pending{
    background-color: rgba(243, 156, 18,1.0);
    }
    

.total-orders{
background-color: rgba(41, 128, 185,1.0);
}

.total-items{
background-color: rgba(142, 68, 173,1.0);
}


/* start latest */

.parent-info-users{
background-color: rgba(39, 174, 96,1.0);
}

.users-info{
    background-color: rgba(46, 204, 113,1.0);
}

/* pending */
.users-info-pending{
    background-color: rgba(241, 196, 15,1.0);
}
.parent-info-users-pending{
    background-color: rgba(241, 196, 15,1.0);
}
.total-users-details-pending{
    display: none;
}


/* orders */
.parent-info-orders{
    background-color: rgba(52, 152, 219,1.0);
}

.total-orders-parent{
    display: none;
}

/* category */
.parent-info-category{
    background-color: rgba(155, 89, 182,1.0);
}
.total-category-parent{
    display: none;
}


/* my logic in JQuery */
#total-users-btn{
    cursor: pointer;
}
.total-users-details{
    display: none;
}


.total-merchant-users-details-info{
    display: none;
}
.total-Maintenance-users-details-info{
    display: none;
}
.total-Normal-users-details-info{
    display: none;
}