@import url("./dashboardAdminOders.css");

.total-users {
    background-color: rgba(26, 188, 156, 1.0);
}
.actionBtns button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    align-items: center;
}
.sortUl{
    padding: 0px;
}